@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $acc-green
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $acc-green
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======

section
  padding: 65px 0 80px

.btn
  display: inline-block
  cursor: pointer
  line-height: 1
  white-space: nowrap
  +mt(.2s)
  font-size: 22px
  padding: 12px 30px 14px
  border-radius: 40px
  background-color: $acc-yellow
  color: $text
  box-shadow: none
  text-align: center
  border: none
  &:hover
    //background-color: darken($acc-yellow, 5%)
    box-shadow: 0 3px darken($acc-yellow, 10%)
  &.disabled
    filter: grayscale(.7)
    &:hover, &:active, &:focus
      box-shadow: none

.s-lightgreen
  background-color: #fafffa

.section-title
  font-size: 36px
  font-weight: 900
  text-align: center
  margin-bottom: 45px
  &.line-through
    padding: 0 25px
    display: inline-block
    margin-bottom: 0
    position: relative
    z-index: 3
    background-color: #fafffa

.section-title-wrap
  position: relative
  text-align: center
  margin-bottom: 45px
  &:before
    content: ''
    position: absolute
    width: 100%
    height: 2px
    background-color: $acc-yellow
    left: 0
    top: calc(50% - 1px)

.slick-slide
  outline: none!important

form
  h3
    font-size: 24px
  label
    display: block
    margin-bottom: 15px
    &.label-checkbox
      input
        display: inline-block
        width: auto
  input
    width: 100%
    padding: 12px 20px 14px
    line-height: 1
    font-size: 18px
    border-color: #aeaeae
    border-radius: 3px
    &.error
      border-color: red!important
      color: red!important
      &::placeholder
        color: red!important
  .help-block
    display: none!important




.popup-form
  position: relative
  max-width: 500px
  width: 100%
  display: block
  background-color: #fff
  margin-left: auto
  margin-right: auto
  padding: 25px 50px
  text-align: center
  border-radius: 8px
  .form-labels-wrap
    margin: 30px 0
  .btn
    width: 210px



//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .9
  &.mfp-removing.mfp-bg
    opacity: 0


//preloader
.sk-cube-grid
  width: 4em
  height: 4em
  margin: auto
/*
 * Spinner positions
 * 1 2 3
 * 4 5 6
 * 7 8 9
 */

.sk-cube-grid .sk-cube
  width: 33%
  height: 33%
  background-color: $acc-green
  float: left
  animation: sk-cube-grid-scale-delay 1.3s infinite ease-in-out

.sk-cube-grid .sk-cube-1
  animation-delay: 0.2s

.sk-cube-grid .sk-cube-2
  animation-delay: 0.3s

.sk-cube-grid .sk-cube-3
  animation-delay: 0.4s

.sk-cube-grid .sk-cube-4
  animation-delay: 0.1s

.sk-cube-grid .sk-cube-5
  animation-delay: 0.2s

.sk-cube-grid .sk-cube-6
  animation-delay: 0.3s

.sk-cube-grid .sk-cube-7
  animation-delay: 0s

.sk-cube-grid .sk-cube-8
  animation-delay: 0.1s

.sk-cube-grid .sk-cube-9
  animation-delay: 0.2s

@keyframes sk-cube-grid-scale-delay
  0%, 70%, 100%
    transform: scale3D(1, 1, 1)
  35%
    transform: scale3D(0, 0, 1)


.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999
  display: flex
  justify-content: center
  align-items: center
  background-color: #f8fcff
//end PRELOADER

.label-checkbox
  text-align: left
  line-height: 1
  font-size: 13px
  height: 13px
  margin-top: 20px
  cursor: pointer
  .jq-checkbox
    float: left
    margin-right: 10px
    border-color: #aeaeae
  span
    position: relative
    top: -5px

.jq-checkbox.checked .jq-checkbox__div
  width: 9px
  height: 5px
  border-bottom-color: $acc-green
  border-left-color: $acc-green

