@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1700px)
  .intro-wrap
    padding-top: 200px

  .s-intro
    overflow: hidden
    .container
      &:before
        left: -300px
        height: calc(100% + 40px)
        top: -40px

@media (max-width: 1500px)
  .s-intro
    height: 500px

@media (max-width: 1400px)
  .s-intro
    height: 450px
    .container
      &:before
        left: -200px
        top: 0
    &:after
      left: 30%

  .intro-wrap
    padding-top: 150px
    h1
      font-size: 40px

// ≥1200px
+media-breakpoint-down(lg)

  .contacts-block
    left: 65px

  .gallery-slider
    left: calc((100vw - 960px)/2 + 80px)
    width: calc(100% - ((100vw - 960px)/2) - 80px)
    position: relative
    .house-prev, .house-next
      left: -80px

  .event-item
    padding: 20px 15px
    &-title
      font-size: 22px

  .add-item
    &-title
      font-size: 20px
    &-desc
      font-size: 18px

  .advantages-img
    display: none

  .adv-item
    &-title
      font-size: 20px

  .line
    .container
      flex-wrap: wrap
    .btn
      order: 2
      width: 210px
      margin-top: 20px
    .mail
      order: 2
      width: 50%
      margin-top: 20px

  .s-intro
    height: 400px

// ≥992px
+media-breakpoint-down(md)

  .contacts-block
    position: relative
    width: 100%
    left: 0
    top: 0
    border-radius: 0

  #map
    height: 400px
    background: 67%

  .gallery-slider
    left: calc((100vw - 720px)/2 + 80px)
    width: calc(100% - ((100vw - 720px)/2) - 80px)
    position: relative

  .event-item
    width: calc(50% - 10px)
    padding: 25px
    &-title
      font-size: 26px

  .adv-wrap
    justify-content: flex-start

  .adv-item
    width: calc(33.333% - 30px)
    margin-bottom: 25px
    margin-right: 30px
    &:nth-child(3)
      margin-right: 0

  section
    padding-bottom: 40px

  .section-title
    font-size: 30px

  .house-item
    flex-direction: column
    &>div
      width: 100%
    &-left
      margin-bottom: 30px

  .s-intro
    background-size: cover
    margin-top: 200px
    overflow: visible
    background-position: center center
    &:after
      width: 100%
      left: 0
      height: 200px
      top: -100px
      background-image: linear-gradient(to bottom,  #fff 50%,  rgba(#fff, 0) 100%)
    .container
      &:before
        height: 300px
        top: -200px
        z-index: 3
        background-size: 100%
        background-position: center top
        left: -270px

  .intro-wrap
    padding-top: 0
    position: relative
    top: -165px
    padding-left: 200px
    z-index: 4
    h1
      font-size: 32px
    p
      font-size: 16px

// ≥768px
+media-breakpoint-down(sm)

  .gallery-slider
    left: calc((100vw - 540px)/2)
    width: calc(100% - ((100vw - 540px)/2))
    .house-prev, .house-next
      display: none!important

  .section-title
    line-height: 1.1

  .adv-item
    &-img
      width: 90px
      height: 90px
      padding: 22px
      img
        max-width: 100%
        height: auto
    &-title
      font-size: 16px

  .section-title-wrap
    &:before
      width: 100px
      bottom: -17px
      left: calc(50% - 50px)
      top: auto

  .house-slide
    height: 300px

  .house-nav
    height: 100px

  .logo-wrap
    font-size: 24px
    line-height: 20px
    img
      max-width: 50px
    .logo
      width: 165px
    .site-desc
      font-size: 17px
      line-height: 1
      width: 165px

  .line-contacts
    font-size: 18px

  .mail
    font-size: 16px
    margin-top: 10px

  .line
    .btn
      font-size: 16px
      width: auto


// ≥480px
+media-breakpoint-down(xs)

  #map
    background: 65.5%

  .contacts-block
    h3
      font-size: 24px

  .contacts-item
    &-title
      font-size: 14px
    &-desc
      font-size: 16px

  #map
    height: 300px


  .review-slide
    &-title
      font-size: 20px

  .reviews-slider
    margin-left: 0
    margin-right: 0
    .house-prev, .house-next
      bottom: -30px
      width: 40px
      height: 40px
    .house-prev
      left: 25px
    .house-next
      right: auto
      left: 75px

  .all-reviews
    .svg
      margin-right: 25px

  .gallery-slider
    left: 10px
    width: calc(100% - 10px)
    .slick-list
      padding-right: 50px

  .gallery-slide
    margin-right: 20px

  .event-item
    padding: 20px 15px
    height: 170px
    &-title
      font-size: 22px
      margin-bottom: 15px
    .link
      font-size: 16px
      .svg
        width: 17px

  .add-item-desc
    font-size: 16px

  .adv-wrap
    justify-content: space-between

  .adv-item
    width: calc(50% - 10px)
    margin-right: 0

  .section-title
    font-size: 20px
    line-height: 1

  .house-slide
    height: 240px

  .house-nav
    height: 75px

  .house-item
    &-title
      font-size: 20px
    &-desc
      font-size: 16px
    &-bottom
      flex-direction: column
      .btn
        font-size: 16px
    &-tarifs
      width: 100%
      text-align: center
      margin-bottom: 15px

  .tarif-item
    font-size: 16px


  section
    padding-top: 40px

  .s-intro
    margin-top: 0
    height: 300px
    margin-bottom: 140px
    .container
      &:before
        display: none
    &:after
      bottom: -100px
      top: auto
      background-image: linear-gradient(to top,  #fff 50%,  rgba(#fff, 0) 100%)


  .intro-wrap
    padding-left: 0
    padding-top: 295px
    width: 100%
    top: auto
    h1
      font-size: 28px
      margin-bottom: 20px

  .logo-wrap
    margin-left: auto
    margin-right: auto

  .line
    .mail
      order: 1
      width: 50%
      text-align: center
    .btn
      margin-left: auto
      margin-right: auto

  .line-contacts
    width: 50%
    text-align: center
    margin-top: 20px

@media screen and (max-width: 390px)

  .event-item
    width: 100%
    height: 180px

  .add-item-img
    height: 240px

  .s-intro
    background-position-x: -62px

  .logo-wrap
    flex-direction: column
    align-items: center
    width: 100%
    .site-desc
      border-left: none
      margin-top: 40px
      text-align: center
      padding-left: 0
      position: relative
      &:before
        content: ''
        position: absolute
        width: 80px
        height: 2px
        background-color: #acacac
        left: calc(50% - 40px)
        top: -15px
    .logo
      width: 210px
      font-size: 30px
      align-items: center
      line-height: 1
      img
        max-width: 60px


  .line-contacts
    width: 100%
    text-align: center
    margin-top: 15px
    .recall
      display: inline-block
      margin-top: 5px

  .line
    .mail
      margin-top: 0
      padding-top: 5px
      text-align: center
      width: 100%
    .btn
      margin-left: auto
      margin-right: auto

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
